<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasteleria.app.apppasteleria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Espigazo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.RegisterActivity"
            android:theme="@style/AppThemeBarDark"></activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppThemeBarDark" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppThemeBarDark" />
        <activity android:name=".activity.PedidoConfirmActivity"
            android:theme="@style/AppThemeBarDark"
            />
        <activity android:name=".activity.ProductoOpcActivity" />
        <activity android:name=".activity.ProductoInfoActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>